@import url('https://fonts.cdnfonts.com/css/milkade');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: linear-gradient(135deg, #000000, #1c1f26, #121212);
  width: 100%;
  height: 100vh;
  font-family: 'Milkade', sans-serif;
  overflow: hidden;
}

.title {
  position: relative;
}

.title::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 0.5px;
  background-color: gray;
  bottom: -10px;
  left: 0;
  transition: width 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.title:hover::after {
  width: 250%;
}


.trans {
  transition: opacity 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.menu {
  pointer-events: all;
  position: relative;
  z-index: 100;
}

.svgCurve {
  position: absolute;
  top: 0;
  left: -100px;
  width: 100px;
  height: 100%;
  fill: #EEEEEE;
  stroke:none;
}
